[workspace]
resolver = "3"
members = ["backend", "tetris-core", "frontend/lib", "ai"]

[workspace.dependencies]
serde = { version = "1.0.217", features = ["derive"] }
futures-util = { version = "0.3.31", default-features = false }
serde_cbor = "0.11.1"

[profile.dev]
overflow-checks = false
