@media (prefers-color-scheme: dark) {
    * {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }

    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        background-color: #05001e;
    }

    body > * {
        z-index: 2;
        position: relative;
    }

    .tetris {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        max-width: 60em;
        column-gap: 5em;
        margin: 5em auto;

        & button {
            padding: 5px;
            border-color: white;
            background-color: #28153c;
        }
    }

    .createGame{
        color: white;
        border-color: white;


        background: #28153c;
        }

    }
    .game {
        background: #28153c;

        border-color: white;

        & h2 {
        }

        & button {
            float: inline-end;
            color: white;

            border-radius: 0.5em;

        }
    }

    header > button {
        background-color: transparent;
        border: 2px solid white;
        font-size: 1.3em;
    }


    #updatePreference{
        background-color: #28153c;
    }

}