@media (prefers-color-scheme: light) {
    * {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: black;
    }

    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        background-color: #f2fffb;
    }

    body > * {
        z-index: 2;
        position: relative;
    }

    .tetris {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        max-width: 60em;
        column-gap: 5em;
        margin: 5em auto;

        & button {
            padding: 5px;
            border-color: black;
            background-color: #f2fffb;
        }
    }

    .createGame{
        color: black;
        border-color: black;


        background: #f2fffb;
    }


    .game {
        background: #f2fffb;

        border-color: black;

        & h2 {
        }

        & button {
            color: black;

            border-radius: 0.5em;

        }
    }

    header > button {
        background-color: transparent;
        border: 2px solid black;
        font-size: 1.3em;
    }


    #updatePreference{
        background-color: #f2fffb;
    }

}