:root {
  --text: #110804;
  --bg-color: #fcf6f2;
  --highlighted: #cf6e3f;
  --secondary: #c6e390;
}

/* dark mode */
:root[data-theme='dark'] {
  --text: #e3e6e8;
  --bg-color: #0d0f12;
  --highlighted: #09a520;
  --secondary: #4f46e5;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
}

body {
  background-color: var(--bg-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.back-icon:before {
  content: "← ";
}

.back-icon::before {
  margin-left: 0;
  margin-right: 0;
  transition: margin .2s ease-in-out;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid var(--highlighted);
}

/* increase padding left on parent hover */
.back-icon:hover:before {
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}


.game {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: .5rem;
  padding: 1rem;
  transition: box-shadow .1s ease-in-out;
}

.game:hover {
  box-shadow: rgba(60, 64, 67, 0.694) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.game h2 {
  margin-top: 0;
}

.game button {
  width: 100%;
}

#games-list {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.page {
  max-width: 50rem;
  width: 100%;
  min-height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 0;
}

button {
  background-color: var(--highlighted);
  color: var(--bg-color);
  border: none;
  padding: .5rem 1rem;
  border-radius: .25rem;
  cursor: pointer;
  font-weight: bold;
  transition: scale .1s ease-in-out;
}

button:hover {
  scale: 1.01;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px;
}

input[type="radio"] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--highlighted);
  cursor: pointer;
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: var(--highlighted);
  cursor: pointer;
}


.cookie-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  animation: spin 20s ease infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.15);
  z-index: 1;
  pointer-events: none;
}

.cookie-message::before {
  content: "YOUR SETTINGS WILL NOT BE SAVED BECAUSE YOU HAVE NOT ACCEPTED COOKIES";
  width: 30em;
  text-align: center;
  animation: moveText 3s ease-in-out infinite alternate;
  color: rgb(226, 17, 121);
  z-index: -1;
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  40% {
    transform: rotateY(0deg) rotateX(300deg);
  }

  50% {
    transform: rotateX(360deg);
  }

  100% {
    transform: rotateX(0deg) rotateZ(720deg) rotateY(360deg);
  }
}

@keyframes moveText {
  0% {
    transform: rotate(120deg) translateX(30vw) translateY(20vh);
  }

  30% {
    transform: translateX(-25vw) translateY(-12vh);
  }

  50% {
    transform: rotate(210deg);
  }

  70% {
    transform: translateX(10vw) translateY(6vh);
  }

  90% {
    transform: rotate(-90deg);
  }

  100% {
    transform: translateX(30vw) translateY(-10vw) rotate(0deg);
  }
}